
/*Start------------------------------------------------------------------------------------------------------------------------------- */
/* Page Text Styling */
#logo {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: rgb(113,218,211);
}

#cap {
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    color: white;
}
/*Stop ------------------------------------------------------------------------------------------------------------------------------- */





/*Start ------------------------------------------------------------------------------------------------------------------------------- */
/* Nav Bar Styling */
.navbar {
    min-height: 90px;
}

.navbar-brand {
    padding: 0 15px;
    height: 100px;
    line-height: 80px;
}


.nav-link {
    font-family: 'Amatic SC', cursive;
    color: rgb(113,218,211);
    font-weight: bolder;
    font-size: 25px;
}

.nav-link:hover,
.nav-link-active,
.nav-link:visited {
    font-family: 'Amatic SC', cursive;
    color: black !important;
    font-weight: bolder;
    font-size: 25px;

}

/*Stop ------------------------------------------------------------------------------------------------------------------------------- */



/*Start ------------------------------------------------------------------------------------------------------------------------------- */
/* Profile Jumbotron Styling */
.jumbo-height {
    min-height: 650px;
    background: linear-gradient(black, transparent 60%),
        url("./monstra.jpeg");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    min-height: 640px;
    color: #fff;
}

.img-size {
    height: 300px;
    width: 270px;
}

/* Profile Jumbotron Contents */
#myName {
    font-family: 'Pacifico', cursive;
    color: white;
    margin-left: 30%;
}

.lead {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 45px;
    float: left;
}

.rounded-circle {
    margin-left: 400px;

}
/*Stop ------------------------------------------------------------------------------------------------------------------------------- */





/*Start ------------------------------------------------------------------------------------------------------------------------------- */
/* Profile Jumbotron Buttons */
#jumboBtn1 {
    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: rgb(113,218,211) !important;
    font-weight: bolder;
    font-size: 20px;

}

#jumboBtn1:hover,
#jumboBtn-active1,
#jumboBtn1:visited {
    font-family: 'Amatic SC', cursive;
    color:aquamarine!important;
    font-weight: bolder;
    font-size: 20px;
}

#savetext {
    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: rgb(113,218,211) !important;
    font-weight: bolder;
    border: none;
    font-size: 20px;

}

#savetext:hover,
#savetext-active1,
#savetext:visited {
    font-family: 'Amatic SC', cursive;
    color:aquamarine!important;
    font-weight: bolder;
    border: none;
    font-size: 20px;
}

#updateText {
    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: rgb(113,218,211) !important;
    font-weight: bolder;
    border: none;
    font-size: 20px;

}

#updateText:hover,
#updateText-active1,
#updateText:visited {
    font-family: 'Amatic SC', cursive;
    color:aquamarine!important;
    font-weight: bolder;
    border: none;
    font-size: 20px;
}
/*Stop ------------------------------------------------------------------------------------------------------------------------------- */




/*Start ------------------------------------------------------------------------------------------------------------------------------- */
/* Story Editor */
#titleTag{
    font-family: 'Amatic SC', cursive;
    color: black;
    font-weight: bolder;
    font-size: 35px; 
}

#texting {
    
    font-family: 'Amatic SC', cursive;
    color: black;
    font-weight: bolder;
    font-size: 35px;
}

div#editor {
    background-color: White;
    height: 300px;
}

.ql-container {
    
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    height: 100%;
    margin: 0px;
    position: relative;
}

.edit{
    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: rgb(113,218,211) !important;
    font-weight: bolder;
    margin-left: 80px;
    border: none;
    font-size: 20px; 
}

.edit:hover,
.edit-active1,
.edit:visited {
    font-family: 'Amatic SC', cursive;
    color:aquamarine!important;
    font-weight: bolder;
    border: none;
    font-size: 20px;
}

.delete{
    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: rgb(185, 121, 0) !important;
    font-weight: bolder;
    border: none;
    font-size: 20px; 
}

.delete:hover,
.delete-active1,
.delete:visited {
    font-family: 'Amatic SC', cursive;
    color:orange!important;
    font-weight: bolder;
    border: none;
    font-size: 20px;
}
/*Stop ------------------------------------------------------------------------------------------------------------------------------- */




/*Start ------------------------------------------------------------------------------------------------------------------------------- */
/* Story Cards */
.display-4 {
    font-family: 'Pacifico', cursive;
    color: black;
}
.jumbotron{
    background-color: white;
    margin:20px;
}



.btn-primary {

    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: rgb(113,218,211) !important;
    font-weight: bolder;
    margin-left: 80px;
    font-size: 31px;

}

.btn-primary :hover,
.btn-primary-active,
.btn-primary :visited {
    font-family: 'Amatic SC', cursive;
    color:aquamarine!important;
    font-weight: bolder;
    font-size: 31px;

}
/*Stop ------------------------------------------------------------------------------------------------------------------------------- */




/*Start ------------------------------------------------------------------------------------------------------------------------------- */
/* background of the page */
body {
    background-image: linear-gradient(to bottom right, rgb(113,218,211), orange);
}
/*Stop ------------------------------------------------------------------------------------------------------------------------------- */




/*Start ------------------------------------------------------------------------------------------------------------------------------- */
#storyButton {

    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: rgb(113,218,211) !important;
    font-weight: bolder;
    border: none;
    font-size: 31px;

}

#storyButton:hover,
#storyButton-active,
#storyButton:visited {
    font-family: 'Amatic SC', cursive;
    color:orange!important;
    font-weight: bolder;
    font-size: 31px;
}
/*Start ------------------------------------------------------------------------------------------------------------------------------- */

