body {
    background-color: rgb(113,218,211);
}

/* Page Text Styling */
#logo {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: rgb(113,218,211);
}

#cap {
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    color: white;
}

/* Nav Bar Styling */
.nav-link {
    font-family: 'Amatic SC', cursive;
    color: rgb(113,218,211);
    font-weight: bolder;
    font-size: 25px;
}

.nav-link:hover,
.nav-link-active,
.nav-link:visited {
    font-family: 'Amatic SC', cursive;
    color: grey !important;
    font-weight: bolder;
    font-size: 25px;

}




/* Jumbotron Styling */
.jumbo-height {
    min-height: 650px;
    background: linear-gradient(black, transparent 60%),
        url("./images/monstra.jpeg");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    min-height: 640px;
    color: #fff;
}

.img-size {
    height: 300px;
    width: 270px;
}


/* Jumbotron Contents */
#myName {
    font-family: 'Pacifico', cursive;
    color: white;
    margin-left: 30%;
}

.lead {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 25px;
    float: left;
}

.rounded-circle {
    margin-left: 400px;

}

/* button1 */
#jumboBtn1 {
    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: grey !important;
    font-weight: bolder;
    margin-left: 80px;

}


#jumboBtn1:hover,
#jumboBtn-active1,
#jumboBtn1:visited {
    font-family: 'Amatic SC', cursive;
    color: grey!important;
    font-weight: bolder;
    font-size: 21px;



}

/* button2 */
#jumboBtn2 {
    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: grey !important;
    font-weight: bolder;
    margin-left: 280px;

}


#jumboBtn2:hover,
#jumboBtn-active2,
#jumboBtn2:visited {
    font-family: 'Amatic SC', cursive;
    color: grey !important;
    font-weight: bolder;
    font-size: 21px;



}

/* button3 */
#jumboBtn3 {
    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: grey!important;
    font-weight: bolder;
    margin-left: 300px;

}


#jumboBtn3:hover,
#jumboBtn-active3,
#jumboBtn3:visited {
    font-family: 'Amatic SC', cursive;
    color: grey!important;
    font-weight: bolder;
    font-size: 21px;



}

/* Forms */
#texting {
    
    font-family: 'Amatic SC', cursive;
    color: white;
    font-weight: bolder;
    font-size: 35px;
}

.card-body {
    background-color: lightgray;

    
}




/* Story Cards */

.display-4 {
    font-family: 'Pacifico', cursive;
    color: aquamarine;
}


.btn-primary {
    /* font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: pink;
    font-weight: bolder; */
    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: grey !important;
    font-weight: bolder;
    margin-left: 80px;

}


.btn-primary :hover,
.btn-primary-active,
.btn-primary :visited {
    /* font-family: 'Amatic SC', cursive;
    color: rgb(255, 164, 178) !important;
    font-weight: bolder;
    font-size: 21px; */
    font-family: 'Amatic SC', cursive;
    color:aquamarine!important;
    font-weight: bolder;
    font-size: 21px;

}